[submodule "categories"]
	path = categories
	url = git@github.com:SWException/categories.git
    branch = develop
[submodule "orders"]
	path = orders
	url = git@github.com:SWException/orders.git
    branch = main
[submodule "users"]
	path = users
	url = git@github.com:SWException/users.git
    branch = develop
[submodule "checkout"]
	path = checkout
	url = git@github.com:SWException/checkout.git
    branch = develop
[submodule "products"]
	path = products
	url = git@github.com:SWException/products.git
    branch = main
[submodule "addresses"]
	path = addresses
	url = git@github.com:SWException/addresses.git
    branch = main
[submodule "carts"]
	path = carts
	url = git@github.com:SWException/carts.git
    branch = main
[submodule "taxes"]
	path = taxes
	url = git@github.com:SWException/taxes.git
    branch = main
